.LeftSide_main{
    height: 100%;
    width: 200px;
    border-right: 1px solid;
    padding: 15px;
}

.LeftSide_header {
    font-weight: bold;
    margin: 10px;
}

.LeftSide_brandname {
    
}

.brandname {
    display: block;
    width: 100px;
}