.LongAdvertisment_main{
    width: 100vw;
    height:300px;
    background-color: white;
    margin: 10px
}

.LongAdvertisment_head {
    font-size: 21px;
    line-height: 27px;
    padding: 15px;
}

.LongAdvertisment_body {
    min-width: 320px;
    display: flex;
    padding-left: 15px;
}

.LongAdvertisment_footer {
    
   margin-left: 130px;

 }

 .LongAdvertisment_footermain{
    display: flex;
 }
